body {
  font-family: Arial, Helvetica, sans-serif;
  background: #000;
}
.wrapper {
  margin: 0 auto;  
  max-width: 980px;  
}
.header {
  color: #fff;
  display: flex;
  align-items: center;   
}

}
.activity {
  color: #fff;
  
  
}
h1 {
  color: #fff;
  
}
h2 {
  color: #d3d3d3;
}
ul {
  list-style-type: none;
}
p {
  color: #d3d3d3;
}


.stats {
  color: #fff;
  position: relative;
  bottom: 0;
  right: 0;
  padding: 25px 20px;
}
.stats-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
.stats-list li {
  margin-right: 20px;
  padding-right: 20px;
  border-top: 1px solid #fff;
  font-size: 40px;
}
.first {
  font-size: 30px;
  padding-left: 20px;
  
}
.like {
  display: inline-block;
  
}


  



